.add-transaction-form {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 35px 30px;
  border-radius: 20px;
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .form-title-text {
    font-size: 22px;
    color: blueviolet;
   
  }

}

  .form-cancel {
  
    button{
      border: none;
      font-size: 16px;
      color: #555;
      background-color: #fbeffa;
      cursor: pointer;
    }
  }

.form-category {
  display: flex;
  justify-content: space-between;
  height: 41px;
  margin-top: 20px;

  .form-expense,
  .form-income {
    width: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #444;
  }

  .form-category-expense-click {
    background-color: #f63297;

  }
  .form-category-income-click {
    background-color: #00bba2;
  }
}

.add-form {
  margin-top: 20px;

  .form-group {
    height: 62px;
    margin: 20px 0;
  }

  .form-title label {
    font-size: 15px;
    color: #555;
    margin-bottom: 10px;
  }

  .form-input input,
  .form-input select {
    height: 42px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #777;
    padding-left: 20px;
    font-size: 15px;
  }

  .add-transaction-btn{
    margin-top: 40px;
    
  }
}

@media (width<=768px){

}
