.transaction-section{
    margin-top: 50px;
    padding: 24px 48px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius:20px ;

    h2{
         font-size:20px ;
        color: #3c49e5;
    color: blueviolet;

        font-weight: 400;
    }

    .transaction-item{
        margin: 15px 0;
        height: 87px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
       
        color: #555;
        h4{
            font-weight: 500;
            font-size: 17px;
        }

        p{
            font-weight: 400;
            font-size: 15px;
        }

    }

    .transaction-bottom{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        button{
            
            border:none;
            
            border-radius: 20px;
            font-size: 13px;
            cursor: pointer;
            background-color: rgb(242, 92, 92);
            width: 15px;
            height: 20px;
        }

        img{
            width: 20x;
            height: 20px;
        }
    }

   

   
}

