.transaction-section{
    margin-top: 50px;
    padding: 24px 48px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius:20px ;

    h2{
         font-size:20px ;
        color: #3c49e5;
    color: blueviolet;

        font-weight: 400;
    }

    .transaction-item{
        margin: 15px 0;
        height: 71px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    }

    .transaction-bottom{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        button{
            padding:5px;
            border:none;
            background-color: red;
            color: #fff;
            border-radius: 5px;
            font-size: 13px;
        }
    }

   

   
}

