*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter",sans-serif;
  background-color: #fbeffa;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 24px ;

  .add-transaction-section{
    margin-top: 50px;
  }

  .add-transaction-btn-container{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

  }

  .add-transaction-btn{
    width: 100%;
    max-width: 1182px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #2a59f9;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   

    img{
      width: 20px;
      margin-right: 10px;
    }
  }
}


@media (width<=768px){
  .container{
 


  .add-transaction-btn-container{
    max-width: 1280px;
  }

  
}
}






