*{
  margin: 0;
  padding: 0;
}

body{
  background-color:#242424 ;
  color: #fff;
  font-family: "Inter",sans-serif;
}

.expense-container{
  max-width: 1000px;
  margin: 20px auto;
  padding: 48px 20px;
  h1{
    text-align: center;
    font-size: 62px;
    margin-bottom: 50px;
  }

  .expense-form{
    width: 80%;
    margin: 0 auto;
  }
}

